/* Global styles */
:root {
  --gold: #d9b310;
  --white: #fff;
  --black: #000;
  --danger: #dc3545;
}

/* Global styles */
body {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Section styles */
section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

section p {
  margin: 10px 0;
}

#section1 {
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

@media (max-width: 768px) {
  .footer {
    text-align: left;
    padding: 10px 20px;
  }
}

#section1 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section1 .card {
  height: 100%;
  flex: 1;
  margin: 10px;
  min-width: 250px;
  max-width: 800px;
  background-color: #fff;
}

#section1 .card-body {
  display: flex;
  flex-direction: column;
}

#section1 .card-body .btn {
  margin-top: auto;
}

.section1-card1 {
  background-color: var(--white);
  border: none;
}

.section1-card1 .card-title {
  color: var(--black);
  font-weight: 500;
  font-size: 150px;
}

.section1-card1 .card-text {
  font-size: 16px;
  color: var(--black);
  text-align: left;
  padding-left: 0px;
}

.section1-card3 {
  background-color: #1d2731;
  border: none;
}

.section1-card3 .card-title {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}

.section1-card3 .card-text {
  font-size: 18px;
  color: #fff;
  text-align: left;
  padding-left: 20px;
}

.section1-card3 .icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.section1-card3 .icon-circle:hover {
  background-color: var(--gold);
  color: #000;
}

.section1-card3 .list-inline-item {
  padding-right: 15px;
}

.section1-card3 .icon-circle:hover i {
  color: white;
}

.section1-card3 .form-control {
  padding: 6px 10px;
  font-size: 18px;
  height: auto;
}

@media (max-width: 768px) {
  #section1 .row {
    flex-direction: column;
    align-items: center;
  }

  #section1 .card {
    max-width: 100%;
  }
}

@media (max-width: 412px) {
  #section1 .row {
    flex-direction: column;
    align-items: center;
  }

  #section1 .card {
    max-width: 95%;
  }
}

#cardsTable_wrapper {
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.main-title {
  font-size: 100px;
  padding-top: 100px;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.sub-title,
.lead {
  font-size: 20px;
  margin-bottom: 0;
  color: var(--white);
}

section p a {
  margin-right: 10px;
}

.nav-masthead .nav-link {
  color: var(--black);
  border-bottom: .25rem solid transparent;
  padding: .25rem 1.5rem;
  font-weight: 400;
  font-size: 25px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: var(--gold);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.navbar-brand {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.navbar-brand.visible {
  opacity: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.large-icon {
  font-size: 1.15rem;
  color: gray;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-sm {
  padding: 8px 15px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 60px;
    padding-top: 40px;
  }

  .sub-title,
  .lead {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .btn-sm {
    padding: 6px 10px;
    font-size: 12px;
  }
}
